@import "src/app/theme/variables";

.card  {
    height: 400px;
    width: 300px;
    // flex-shrink: 0;
    // flex-grow: 0;
    box-shadow: $custom-box-shadow;
    img{
        height: 200px;
    }
    h5 {
        color: $primary;
    }
    i {
        margin: 0 5px;
        font-size: 20px;
    }
    &:hover {
        transform: scale(1.05);
    }


}